body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* color palette
{
  "Bistre Brown":"8B7513", 
  "Gunmetal":"2E363D",
  "Cadet Blue":"739CA1",
  "Laser Lemon":"FBFB6A",
  "Burnt Umber":"883A2D"
}
*/
